# ==========================================
# Plantilla de Configuración de Base de Datos PostgreSQL
# ==========================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=DIGITAR_CONTRASEÑA_PRIVADA
POSTGRES_DB=NOMBRE_DB_EN_LOCAL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ==========================================
# URL de conexión Asíncrona (Para SQLAlchemy)
# ==========================================

DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# ==========================================
# Seguridad JWT (JSON Web Tokens)
# ==========================================
JWT_SECRET_KEY=ecotur_secreto_super_seguro_2026