# --- Core ---
fastapi
uvicorn
python-multipart

# --- Validación y Settings ---
pydantic
pydantic-settings

# --- Base de Datos ---
sqlalchemy
asyncpg

# --- Seguridad y Autenticación ---
python-jose
passlib
bcrypt

# --- Pruebas (QA) ---
pytest
pytest-asyncio
httpx