# --- Core ---
fastapi
uvicorn
python-multipart

# --- Validación y Settings ---
pydantic
email-validator
pydantic-settings

# --- Base de Datos ---
sqlalchemy
asyncpg
alembic

# --- Seguridad y Autenticación ---
PyJWT 
bcrypt

# --- Pruebas (QA) ---
pytest
pytest-asyncio
httpx
aiosqlite

# --- Inyección de variables de entorno locales ---
python-dotenv
