# --- Core ---
fastapi
uvicorn
python-multipart

# --- Validación y Settings ---
pydantic
pydantic-settings

# --- Base de Datos ---
sqlalchemy
asyncpg
alembic

# --- Seguridad y Autenticación ---
python-jose
bcrypt

# --- Pruebas (QA) ---
pytest
pytest-asyncio
httpx

# --- Inyección de variables de entorno locales ---
python-dotenv